{% comment %} <svg
  class="icon icon-cart"
  aria-hidden="true"
  focusable="false"
  xmlns="http://www.w3.org/2000/svg"
  viewBox="0 0 40 40"
  fill="none"
>
  <path fill="currentColor" fill-rule="evenodd" d="M20.5 6.5a4.75 4.75 0 00-4.75 4.75v.56h-3.16l-.77 11.6a5 5 0 004.99 5.34h7.38a5 5 0 004.99-5.33l-.77-11.6h-3.16v-.57A4.75 4.75 0 0020.5 6.5zm3.75 5.31v-.56a3.75 3.75 0 10-7.5 0v.56h7.5zm-7.5 1h7.5v.56a3.75 3.75 0 11-7.5 0v-.56zm-1 0v.56a4.75 4.75 0 109.5 0v-.56h2.22l.71 10.67a4 4 0 01-3.99 4.27h-7.38a4 4 0 01-4-4.27l.72-10.67h2.22z"/>
</svg> {% endcomment %}

<span class="svg">
  <svg class="icon icon-cart"
  aria-hidden="true"
  focusable="false"
  xmlns="http://www.w3.org/2000/svg"
  width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M29.5 10.6825C29.3128 10.4687 29.0822 10.2973 28.8236 10.1796C28.5649 10.0619 28.2842 10.0007 28 10H23.4537L16.75 2.34125C16.6562 2.23484 16.5407 2.14962 16.4114 2.09125C16.2821 2.03287 16.1419 2.00269 16 2.00269C15.8581 2.00269 15.7179 2.03287 15.5886 2.09125C15.4592 2.14962 15.3438 2.23484 15.25 2.34125L8.54625 10H4C3.71508 10 3.43345 10.0609 3.17397 10.1786C2.9145 10.2962 2.68315 10.468 2.49544 10.6823C2.30773 10.8967 2.16798 11.1487 2.08556 11.4214C2.00313 11.6941 1.97992 11.9813 2.0175 12.2637L3.75 25.265C3.81423 25.7455 4.05079 26.1863 4.41569 26.5054C4.78059 26.8246 5.24898 27.0003 5.73375 27H26.2662C26.751 27.0003 27.2194 26.8246 27.5843 26.5054C27.9492 26.1863 28.1858 25.7455 28.25 25.265L29.9837 12.265C30.0207 11.982 29.9967 11.6943 29.9132 11.4214C29.8298 11.1484 29.6889 10.8965 29.5 10.6825ZM10.2 23C10.1663 23.0018 10.1325 23.0018 10.0987 23C9.84998 23.0012 9.60968 22.9097 9.42477 22.7433C9.23986 22.5769 9.12362 22.3475 9.09875 22.1L8.39875 15.1C8.37223 14.8361 8.45162 14.5725 8.61947 14.3671C8.78731 14.1618 9.02986 14.0315 9.29375 14.005C9.55764 13.9785 9.82126 14.0579 10.0266 14.2257C10.232 14.3936 10.3622 14.6361 10.3887 14.9L11.0887 21.9C11.1168 22.1637 11.0389 22.4278 10.8722 22.6341C10.7055 22.8403 10.4637 22.972 10.2 23ZM17 22C17 22.2652 16.8946 22.5196 16.7071 22.7071C16.5196 22.8946 16.2652 23 16 23C15.7348 23 15.4804 22.8946 15.2929 22.7071C15.1054 22.5196 15 22.2652 15 22V15C15 14.7348 15.1054 14.4804 15.2929 14.2929C15.4804 14.1054 15.7348 14 16 14C16.2652 14 16.5196 14.1054 16.7071 14.2929C16.8946 14.4804 17 14.7348 17 15V22ZM11.2037 10L16 4.51875L20.7962 10H11.2037ZM23.595 15.1L22.895 22.1C22.8702 22.3464 22.7549 22.5749 22.5713 22.7412C22.3877 22.9075 22.1489 22.9997 21.9012 23C21.8675 23.0018 21.8337 23.0018 21.8 23C21.6693 22.9869 21.5425 22.9481 21.4268 22.886C21.3111 22.8239 21.2088 22.7395 21.1257 22.6379C21.0426 22.5362 20.9803 22.4191 20.9425 22.2934C20.9046 22.1676 20.8919 22.0357 20.905 21.905L21.605 14.905C21.6315 14.6411 21.7618 14.3986 21.9671 14.2307C22.1725 14.0629 22.4361 13.9835 22.7 14.01C22.9639 14.0365 23.2064 14.1668 23.3743 14.3721C23.5421 14.5775 23.6215 14.8411 23.595 15.105V15.1Z" fill="#FC481D"/>
  </svg>
</span>
<span class="text">Cart — </span>