{{ 'custom-text-with-image.css' | asset_url | stylesheet_tag }}

  <!-- build for batter cycling section start from here -->
  <section class="buildforbatterCycling">
    <div class="page-width">
        <div class="buildingforcyclingWrper">
            <div>
                <h1 class="buildingheader">Bythlon
                    <br />
                    is bulid <br />
                    for
                    <br />
                    better<br />
                    cycling
                </h1>

                <button class="buildLearnmorebtn">Learn more</button>
            </div>
            <div> 
                <div class="builtImageWrper"> 
                   <img class="builtImg" src="https://cdn.shopify.com/s/files/1/0477/4841/5653/files/buolt.png?v=1688483292" alt="built">        
                    <div class="div1">

                    </div>
                    <div class="lineandtext1">
                        <div class="line"></div>
                        <div class="divtext">Lightweight ultra strong fiber compound</div>
                    </div>
                    <div class="div2">

                    </div>
                    <div class="lineandtext2">
                        <div class="line"></div>
                        <div class="divtext">Guide Entry Level</div>
                    </div>
                    <div class="div3">

                    </div>
                    <div class="lineandtext3">
                        <div class="divtext">Dual Access Padeals</div>
                        <div class="line"></div>

                    </div>
                    <div class="div4">

                    </div>
                    <div class="lineandtext4">
                        <div class="line"></div>
                        <div class="divtext">Anti Slip Tip Surface</div>
                    </div>
                    <div class="div5">

                    </div>
                    <div class="lineandtext5">
                        <div class="divtext">Design in Gurmany and made in Taiwan</div>
                        <div class="line"></div>
                    </div>
                    <div class="div6">

                    </div>
                    <div class="lineandtext6">
                        <div class="line"></div>
                        <div class="divtext">Easy Allen key assembly</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  <marquee class="cycle_marq">Bythlon is built for better cycling&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bythlon is built for better cycling&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bythlon is built for better cycling&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</marquee>
</section>
<!-- build for batter cycling section end from here -->
{% schema %}
    {
      "name": "Better Cycling",
      "tag": "section",
      "settings": [],
      "blocks": [],
      "presets": [
        {
          "name": "Better Cycling"
        }
      ]
    }
    {% endschema %}