<style>

</style>
<div class="custom-banner-wrapper">
  <div class="page-width">
    <div class="bannre-inner">
      <div class="svg-wrap">
        <div class="first-svg">
          <img src="https://cdn.shopify.com/s/files/1/0477/4841/5653/files/byth.svg?v=1694774576" alt="">
        </div>
        <div class="second-svg">
          <img src="https://cdn.shopify.com/s/files/1/0477/4841/5653/files/lon.svg?v=1694774582" alt="">
        </div>
      </div>
      <div class="image-wrap">
        <img src="https://cdn.shopify.com/s/files/1/0477/4841/5653/files/padal-horizontalpng.png?v=1694710442" alt="">
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Cusotm Banner",
    "tag": "section",
    "class": "section custom-banner",
    "settings": [],
    "blocks": [],
    "presets": [
      {
        "name": "Cusotm Banner"
      }
    ]
  }
  {% endschema %}